{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 160,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindEntryPoint": "./app/globals.css",
  "tailwindAttributes": ["enterFrom", "enterTo", "leaveFrom", "leaveTo"],
  "tailwindFunctions": ["cn", "cva", "twc"]
}
